.storetail-bf-vignette.__PLACEHOLDER__ {
  /*background-image: __BTF_CONTAINE_IMG__;
  background-repeat: no-repeat;
  background-position: top center;*/
  /*max-height: 573px;*/
  /*background-color: __BTFCOLOR__;*/
  /*border-top: 2px solid __BORDERCOLOR__;
  border-left: 2px solid __BORDERCOLOR__;
  border-bottom: 2px solid __BORDERCOLOR__;*/
  position: relative;
  padding-right: 0;
  z-index: 1;
  width:calc(25% + .5rem);
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="0"] .partner-card{
  background-image: __BTF_BG_01__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="1"] .partner-card{
  background-image: __BTF_BG_02__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="2"] .partner-card{
  background-image: __BTF_BG_03__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="3"] .partner-card{
  background-image: __BTF_BG_04__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="4"] .partner-card{
  background-image: __BTF_BG_05__;
}

.storetail-bf-vignette.__PLACEHOLDER__ .partner-card{
  position: relative;
  background-color: __BTFCOLOR__;
  border-top: 2px solid __BORDERCOLOR__;
  border-left: 2px solid __BORDERCOLOR__;
  border-bottom: 2px solid __BORDERCOLOR__;
  background-image: __BTF_CONTAINE_IMG__;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 470px;
  height: 100%;
  width: 100%;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-logo {
  display: none;
  height: 100%;
  width: 40%;
  width: 41%;
  background-size: contain;
  position: relative;
  float: left;
  background-image: __LOGOIMG__;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn {
  line-height: 1!important;
  display: block;
  height: 30px;
  border: none;
  font-weight: 500;
  box-shadow: none;
  width: __BUTTONSWIDTH__;
  background-color: __BUTTONCOLOR__;
  background-image: __BUTTON_BG_IMG__;
  background-position: center;
  background-repeat: no-repeat;
  color: __BUTTONTXT__;
  font-size: __BTN_POLICE_SIZE__px;
  line-height: normal;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  font-family: 'Roboto', arial, sans-serif;
  outline: none;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:active {
  outline-style: none;
  outline: none;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:first-child {
  margin-top: 0px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"],
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:hover {
  color: __BUTTONTXTSELECTED__;
  background-color: __BUTTONCOLORSELECTED__;
  background-image: __BUTTON_BG_IMG_HOVER__;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] .sto-text-download.sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] .sto-text-download.sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] .sto-text-download.sto-disable-bgimg {
  background-image: none !important;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] .sto-text-download.sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] .sto-text-download.sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] .sto-text-download.sto-disable-bgcol {
  background-color: transparent !important;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn-container {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  left: 0;
  top: 212px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options {
  /*width: 100%;*/
  height: 30px;
  position: absolute;
  /*bottom: 3px;*/
  bottom: calc(6px + .5rem);
  width: calc(100% - .5rem);
  left: 0.5rem;
  /*left: 0;*/
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta {
  cursor: pointer;
  position: absolute;
  width: fit-content;
  min-width: 150px;
  padding: 0 10px;
  border-radius: 15px;
  height: 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  line-height: 1;
  max-width: 90%;
  background-color: __CTA_BG_COLOR__;
  background-image: __CTA_BG__;
  background-position: center;
  background-repeat: no-repeat;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options .sto-options-cta .sto-picto {
  display: none;
  vertical-align: middle;
  padding-left: 0 !important;
  margin-right: 5px !important;
  transform: none;
  background: __CTA_ICON__ center no-repeat;
  width: 10px !important;
  height: 10px !important;
}


.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] .sto-picto,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] .sto-picto,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] .sto-picto {
  display: inline-block;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="legal"] .sto-options-cta {
  /* top: auto;
  bottom: 5px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  left: 0!important;
  max-width: 100%;
  height: auto;
  background: none;
  line-height: normal; */
  font-size: 8px;
  max-width: 100%;
  line-height: normal;
  display: inline-block;
  height: auto;
  white-space: initial;
  max-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  width: calc(100% - 3rem) !important;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta span {
  cursor: pointer;
  color: __CTACOLOR__
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] span:not(.sto-picto),
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] span:not(.sto-picto),
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] span:not(.sto-picto){
  text-decoration: underline;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta .sto-cta-text{
  display: inline-block;
  font-weight: normal;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="small"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="small"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="small"] .sto-cta-text{
  font-size: 11px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="medium"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="medium"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="medium"] .sto-cta-text{
  font-size: 13px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="big"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="big"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="big"] .sto-cta-text{
  font-size: 15px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="legal"] .sto-cta-text{
  cursor: default;
  font-size: 10px;
  height: auto;
  display: inline-block;
}

.sto-video {
  position: fixed;
  background-color: whitesmoke;
  min-height: 200px;
  min-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  padding: 40px 10px 20px 10px;
  border-radius: 10px;
}

.sto-ecran {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  opacity: .7;
}

.sto-close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 4px;
  top: 4px;
  background-image: url("./../../img/close.png");
  cursor: pointer;
}

.sto-close:hover {
  background-image: url("./../../img/close_hover.png");
}

.storetail-bf[data-crea="__PLACEHOLDER__"] {
  border: none;
  z-index: 1;
}

.sto-prod-selected{
  display: flex!important;
}

.storetail-bf[data-crea="__PLACEHOLDER__"]>div {
  width: 100%;
  height: 100%;
}

.storetail-bf[data-crea="__PLACEHOLDER__"] .product-card,
.storetail-bf[data-crea="__PLACEHOLDER__"] .product-card.product-card--in-cart {
  border-radius: 0!important;
  display: none;
  border-left: none;
  border-top: 2px solid __BORDERCOLOR__;
  border-right: 2px solid __BORDERCOLOR__;
  border-bottom: 2px solid __BORDERCOLOR__;
  transform: none!important;
  box-shadow: none!important;
  height: 100%;
}

.storetail-bf[data-crea="__PLACEHOLDER__"] .product-card .product-card__body .promotion-description{
  pointer-events: none;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(5) {
  display: block;
}


.storetail-bf[data-crea="__PLACEHOLDER__"]{
  padding-left: 0;
  width: calc(25% - .5rem);
}

@media screen and (max-width: 1279.5px) {
  .storetail-bf-vignette.__PLACEHOLDER__ {
    width:calc(33.33% + .5rem);
  }

  .storetail-bf[data-crea="__PLACEHOLDER__"]{
    width: calc(33.33% - .5rem);
  }
}

@media screen and (max-width:1023.5px) and (min-width:767.5px) {
    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__body {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__graphics {
        flex: 1 1 auto;
        display: flex;
    }

    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__graphics-inner {
        flex: 1 1 auto;
        align-content: center;
        justify-content: center;
    }

    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__thumbnail {
        height: 12.5rem;
        margin-top: 0.5rem;
        margin-top: calc(8 / var(--size) * 1rem);
    }

    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__image-link {
        height: 12.5rem;
        max-width: 12.5rem;
    }

    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__image:not(.image--lazy):not(.image--lazyloading) {
        width: 12.5rem;
    }

    .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card:not(.product-card--horizontal) .product-card__descriptions {
        flex: 0 0 auto;
        padding-left: 0;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
  .storetail-bf-vignette.__PLACEHOLDER__ {
    min-height: 0;
    border: none!important;
    width:100%;
    padding: 0.5rem 0.5rem 0 0.5rem
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .partner-card{
    background-image: __BTF_CONTAINE_IMG_MOB__!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top: 2px solid __BORDERCOLOR__;
    border-left: 2px solid __BORDERCOLOR__;
    border-right: 2px solid __BORDERCOLOR__;
    border-bottom: none;
    height: 100%;
    min-height: 0;
  }

  .storetail-bf[data-crea="__PLACEHOLDER__"]{
    width:100%;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn-container {
    width: 59% !important;
    height: 100% !important;
    text-align: center;
    top: 0 !important;
    left: auto;
    right: 0;
    position: absolute;
    margin-top: 0 !important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="1"] .sto-logo {
    float: none;
    left: 50%;
    transform: translateX(-50%);
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="1"] .sto-btn-container {
    display: none!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn{
    color: __BUTTONTXT__;
    display: inline-block;
    width: calc(50% - 15px) !important;
    height: calc(50% - 15px);
    position: absolute;
    margin: 0;
    background-size: cover;
    background-image: none !important;
    font-size: 1.5vw;
    line-height: 1 !important;
    border-radius: 35px!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 5px), calc(-100% - 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 5px), calc(0% + 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(calc(0% + 5px), calc(-100% - 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(4) {
    top: 50%;
    left: 50%;
    transform: translate(calc(0% + 5px), calc(0% + 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(calc(0% + 5px), calc(0% + 5px));
    display: none;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(1) {
    top:50%;
    transform: translate(calc(-100% - 5px), -50%)!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(2) {
    top:50%;
    transform: translate(calc(0% + 5px), -50%)!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="1"] .sto-btn,
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(3),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(4),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(5),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="3"] .sto-btn:nth-child(4),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="3"] .sto-btn:nth-child(5),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="4"] .sto-btn:nth-child(5){
    display:none!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol {
    background-image: none !important;
    background-color: __BUTTONCOLOR__ !important;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg:hover,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg:hover,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol:hover,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol:hover {
    background-image: none !important;
    background-color: __BUTTONCOLORSELECTED__ !important;
  }

  /*.storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn{
    top:50%;
    transform: translateY(-50%);
    margin-top: 0!important;
  }*/



  .storetail-bf-vignette.__PLACEHOLDER__ .sto-logo {
    display: block;
    height: 100%;
    width: 37.037037037%;
    position: absolute;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-options {
    display: none !important;
  }
  .storetail-bf[data-crea="__PLACEHOLDER__"] {
    border-top: 0;
  }
  .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card,
  .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card.product-card--in-cart{
    border-top: none;
    border-left: 2px solid __BORDERCOLOR__;
    border-right: 2px solid __BORDERCOLOR__;
    border-bottom: 2px solid __BORDERCOLOR__;
  }
  .storetail-bf[data-crea="__PLACEHOLDER__"] h2.title {
    min-height: 57px;
  }
}

@media screen and (min-width: 768px) {
  .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card {
    min-height: 470px;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ {

  }
}

@media screen and (max-width: 600px) {
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn{
    font-size: 2.5vw!important;
  }
}
