.storetail-bf-vignette.__PLACEHOLDER__ {
  background-image: __BTF_CONTAINE_IMG__;
  background-repeat: no-repeat;
  background-position: top center;
  max-height: 573px;
  background-color: __BTFCOLOR__;
  position: relative;
  border-top: 2px solid __BORDERCOLOR__;
  border-left: 2px solid __BORDERCOLOR__;
  border-bottom: 2px solid __BORDERCOLOR__;
  z-index: 1;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="0"] {
  background-image: __BTF_BG_01__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="1"] {
  background-image: __BTF_BG_02__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="2"] {
  background-image: __BTF_BG_03__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="3"] {
  background-image: __BTF_BG_04__;
}

.storetail-bf-vignette.__PLACEHOLDER__[data-bg="4"] {
  background-image: __BTF_BG_05__;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-logo {
  display: none;
  height: 100%;
  width: 40%;
  width: 41%;
  background-size: contain;
  position: relative;
  float: left;
  background-image: __LOGOIMG__;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn {
  line-height: 1!important;
  display: block;
  height: 30px;
  border: none;
  font-weight: 500;
  box-shadow: none;
  width: __BUTTONSWIDTH__;
  background-color: __BUTTONCOLOR__;
  background-image: __BUTTON_BG_IMG__;
  background-position: center;
  background-repeat: no-repeat;
  color: __BUTTONTXT__;
  font-size: __BTN_POLICE_SIZE__px;
  line-height: normal;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  font-family: 'Roboto', arial, sans-serif;
  outline: none;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:active {
  outline-style: none;
  outline: none;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:first-child {
  margin-top: 0px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"],
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:hover {
  color: __BUTTONTXTSELECTED__;
  background-color: __BUTTONCOLORSELECTED__;
  background-image: __BUTTON_BG_IMG_HOVER__;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] .sto-text-download.sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] .sto-text-download.sto-disable-bgimg,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] .sto-text-download.sto-disable-bgimg {
  background-image: none !important;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol:hover,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] .sto-text-download.sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] .sto-text-download.sto-disable-bgcol,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] .sto-text-download.sto-disable-bgcol {
  background-color: transparent !important;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn-container {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  left: 0;
  top: 212px;
  /* margin-top: 50-test-ph%; */
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 3px;
  left: 0;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 30px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  line-height: 1;
  max-width: 90%;
  background-color: __CTA_BG_COLOR__;
  background-image: __CTA_BG__;
  background-position: center;
  background-repeat: no-repeat;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options .sto-options-cta .sto-picto {
  display: none;
  vertical-align: middle;
  padding-left: 0 !important;
  margin-right: 5px !important;
  transform: none;
  background: __CTA_ICON__ center no-repeat;
  width: 10px !important;
  height: 10px !important;
}


.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] .sto-picto,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] .sto-picto,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] .sto-picto {
  display: inline-block;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="legal"] .sto-options-cta {
  top: auto;
  bottom: 5px;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  left: 0!important;
  max-width: 100%;
  height: auto;
  background: none;
  line-height: normal;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta span {
  cursor: pointer;
  color: __CTACOLOR__
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="file"] span:not(.sto-picto),
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="redirection"] span:not(.sto-picto),
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="video"] span:not(.sto-picto){
  text-decoration: underline;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta .sto-cta-text{
  display: inline-block;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="small"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="small"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="small"] .sto-cta-text{
  font-size: 11px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="medium"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="medium"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="medium"] .sto-cta-text{
  font-size: 13px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="big"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="big"] .sto-cta-text,
.storetail-bf-vignette.__PLACEHOLDER__ .sto-options-cta[cta-size="big"] .sto-cta-text{
  font-size: 15px;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-options[cta-type="legal"] .sto-cta-text{
  cursor: default;
  font-size: 8px;
  height: auto;
  display: inline-block;
}

.sto-video {
  position: fixed;
  background-color: whitesmoke;
  min-height: 200px;
  min-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  padding: 40px 10px 20px 10px;
  border-radius: 10px;
}

.sto-ecran {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  opacity: .7;
}

.sto-close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 4px;
  top: 4px;
  background-image: url("./../../img/close.png");
  cursor: pointer;
}

.sto-close:hover {
  background-image: url("./../../img/close_hover.png");
}

.storetail-bf[data-crea="__PLACEHOLDER__"] {
  border: none;
  z-index: 1;
}

.sto-prod-selected{
  display: flex!important;
}

.storetail-bf[data-crea="__PLACEHOLDER__"]>div {
  width: 100%;
}

.storetail-bf[data-crea="__PLACEHOLDER__"] .product-card {
  display: none;
  border-top: 2px solid __BORDERCOLOR__;
  border-right: 2px solid __BORDERCOLOR__;
  border-bottom: 2px solid __BORDERCOLOR__;
}

.storetail-bf[data-crea="__PLACEHOLDER__"] .product-card .product-card__body .promotion-description{
  pointer-events: none;
}

.storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(5) {
  display: block;
}

/*
apres ca sans refacto
@media screen and (max-width: 599px) {
apres sa c'est por la refacto*/

@media screen and (max-width: 1023px) {
  .storetail-bf-vignette.__PLACEHOLDER__ {
    background-image: __BTF_CONTAINE_IMG_MOB__!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 0;
    border-bottom: 0 !important;
    border-top: 2px solid __BORDERCOLOR__;
    border-left: 2px solid __BORDERCOLOR__;
    border-right: 2px solid __BORDERCOLOR__;
    border-bottom: 0;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn-container {
    width: 59% !important;
    height: 100% !important;
    text-align: center;
    top: 0 !important;
    left: auto;
    right: 0;
    position: absolute;
    margin-top: 0 !important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="1"] .sto-logo {
    float: none;
    left: 50%;
    transform: translateX(-50%);
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="1"] .sto-btn-container {
    display: none!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn{
    color: __BUTTONTXT__;
    display: inline-block;
    width: calc(50% - 15px) !important;
    height: calc(50% - 15px);
    position: absolute;
    margin: 0;
    background-size: cover;
    background-image: none !important;
    font-size: 1.5vw;
    line-height: 1 !important;
    border-radius: 35px!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 5px), calc(-100% - 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 5px), calc(0% + 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(calc(0% + 5px), calc(-100% - 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(4) {
    top: 50%;
    left: 50%;
    transform: translate(calc(0% + 5px), calc(0% + 5px));
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(calc(0% + 5px), calc(0% + 5px));
    display: none;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(1) {
    top:50%;
    transform: translate(calc(-100% - 5px), -50%)!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(2) {
    top:50%;
    transform: translate(calc(0% + 5px), -50%)!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="1"] .sto-btn,
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(3),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(4),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn:nth-child(5),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="3"] .sto-btn:nth-child(4),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="3"] .sto-btn:nth-child(5),
  .storetail-bf-vignette.__PLACEHOLDER__[nb-prods="4"] .sto-btn:nth-child(5){
    display:none!important;
  }

  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol {
    background-image: none !important;
    background-color: __BUTTONCOLOR__ !important;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgimg:hover,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgimg:hover,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn.sto-disable-bgcol:hover,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol,
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn[data-state="selected"].sto-disable-bgcol:hover {
    background-image: none !important;
    background-color: __BUTTONCOLORSELECTED__ !important;
  }

  /*.storetail-bf-vignette.__PLACEHOLDER__[nb-prods="2"] .sto-btn{
    top:50%;
    transform: translateY(-50%);
    margin-top: 0!important;
  }*/



  .storetail-bf-vignette.__PLACEHOLDER__ .sto-logo {
    display: block;
    height: 100%;
    width: 41%;
    position: absolute;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-options {
    display: none !important;
  }
  .storetail-bf[data-crea="__PLACEHOLDER__"] {
    border-top: 0;
  }
  .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card{
    border-top: none;
    border-left: 2px solid __BORDERCOLOR__;
    border-right: 2px solid __BORDERCOLOR__;
    border-bottom: 2px solid __BORDERCOLOR__;
  }
  .storetail-bf[data-crea="__PLACEHOLDER__"] h2.title {
    min-height: 57px;
  }
}

@media screen and (min-width: 1024px) {
  .storetail-bf[data-crea="__PLACEHOLDER__"] .product-card {
    height: 470px;
  }
  .storetail-bf-vignette.__PLACEHOLDER__ {
    /*
    apres ca sans refacto
    border-right: 0 !important;
    apres sa c'est por la refacto
    */
  }
}

@media screen and (max-width: 600px) {
  .storetail-bf-vignette.__PLACEHOLDER__ .sto-btn{
    font-size: 2.5vw!important;
  }
}
